
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Deneyim Ekleme Sayfası</h2>

<form method="post">
    <label>Proje Adı</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Proje Açıklaması</label>
    <textarea name="Description" class="form-control" rows="5"> </textarea>
    <br />
    <button class="btn btn-info">Proje Ekle</button>
</form>

