<section class="w3l-contactblock" id="contact">
    <div class="midd-w3 py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="contact-heading text-center">
                <span class="text">Benimle iletişime geç!</span>
                <h3 class="title-big">Birlikte  Çalışmaya  <span>Hazırmısın?</span></h3>
                <p class="mt-4">Hadi Projeye Başlayalım</p>
            </div>
            <div class="row mt-md-5 mt-4 pt-lg-3">
                <div class="col-lg-5">
                    <p>
                        Herhangi bir iletişim yöntemiyle iletişime geçmeye açığım! Herhangi bir uygun yöntemle bana ulaşmaktan çekinmeyin!
                        Her zaman yeni projeler ve fırsatlar hakkında bilgi almak ilgimi çekiyor.
                    </p>
                    <ul class="address mt-md-5 mt-4">
                        <li class="mb-3">
                            <p><span class="fa fa-phone"></span> <a href="tel:533 950 49 60"</a></p>
                        </li>
                        <li class="mb-4">
                            <p><span class="fa fa-envelope-open"></span> <a href="mailto:aydinmfatih@gmail.com">aydinmfatih@gmail.com</a></p>
                        </li>
                        <li class="">
                            <p><span class="fa fa-map-marker"></span> İstanbul / Ümraniye <br>Meydan avm.</p>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-7 mt-lg-0 mt-md-5 mt-4">
                    <form action="/Contact/Index" method="post">
                        <div class="twice-two">
                            <input type="text" class="form-control" name="Name" placeholder="Name"
                                   required="">
                            <input type="email" class="form-control" name="Mail"  placeholder="Email"
                                   required="">
                        </div>
                        <div class="twice">
                            <input type="text" class="form-control" name="Subject" 
                                   placeholder="Subject" required="">
                        </div>
                        <textarea name="Message" class="form-control" placeholder="Message"
                                  required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary btn-style mt-4">Mesaj Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
