@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Ekleme Sayfası</h2>

<form method="post">
<label>Yetenek Adı</label>
<input type="text" name="SkillName" class="form-control" />
<br />

<button class="btn btn-info">Yetenek Ekle</button>
</form>