@model MyEğitimAkademi_Portfolio.Models.Skill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>


<form method="post">
    <label>Yetenek ID</label>
    @Html.TextBoxFor(x => x.SkillID, new { @class = "form-control" })
    <label>Yetenek Adı </label>
    @Html.TextBoxFor(x => x.SkillTitle, new { @class = "form-control" })
    <label> Yetenek Yüzdesi </label>
    @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
    <br />
</form>
