@model List<MyEğitimAkademi_Portfolio.Models.Project>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Projelerim Sayfası</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Proje Adı</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Githubda gör </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.ProjectID</td>
    <td>@item.Title</td>
    <td>@item.Category.CategoryName</td>
    <td>
        <a href="#" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal-@item.ProjectID">Sil</a>
    </td>
    <div class="modal fade" id="deleteModal-@item.ProjectID" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Kaydı Sil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bu kaydı silmek istediğinizden emin misiniz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                    <a href="/Project/DeleteProject/@item.ProjectID" class="btn btn-outline-danger">Evet</a>
                </div>
            </div>
        </div>
    </div>
    <td><a href="/Project/UpdateProject/@item.ProjectID" class="btn btn-outline-success">Güncelle</a></td>
    <td><a href="/Project/GithubProject" class="btn btn-outline-warning">Githuba git</a></td>
</tr>
    }

</table>
<a href="/Project/AddProject" class="btn btn-outline-primary">Yeni Proje Girişi</a>


